/* alertnew.css */
.custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 300px;
  padding: 15px 20px;
  border-radius: 10px;
  color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.custom-alert.success {
  background-color: #28a745;
}

.custom-alert.error {
  background-color: #dc3545;
}

.custom-alert-message {
  font-size: 1em;
  margin-right: 10px;
}

.custom-alert-close {
  background: none;
  border: none;
  color: #F7F7F7;
  font-size: 1.2em;
  cursor: pointer;
}

.custom-alert.hide {
  transform: translateY(-100px);
  opacity: 0;
}
